<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>4kvd.applescript</string>
			<key>Image File</key>
			<string>4kvd.png</string>
			<key>Requirements</key>
			<array>
			<string>httpurls</string>
			</array>
			<key>Title</key>
			<string>4K Video Downloader</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.openmedia.4kvideodownloader</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>https://www.4kdownload.com/products/product-videodownloader/</string>
			<key>Name</key>
			<string>4K Video Downloader</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Start a new 4K Video Downloader task with the selected URL.</string>
	<key>Extension Identifier</key>
	<string>com.ardenst.popclip.4kvd</string>
	<key>Extension Name</key>
	<string>4K Video Downloader</string>
</dict>
</plist>
